.sidebar-header {
  padding-top: 7vh;
  padding-bottom: 3.5vh;
}

.sidebar-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 2.3rem;
  font-weight: 900;
  text-align: center;
}

.new-note-button {
  position: absolute;
  right: 10%;
}

.new-note-button button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.new-note-button button:hover {
  color: #8b8b8b;
}
